src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_17811/CCO_WEB_SERVICES/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:17811/CCO_WEB_SERVICES/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="editarCliente">
<part name="parameters" element="tns:editarCliente"/>
</message>
<message name="listarProducto">
<part name="parameters" element="tns:listarProducto"/>
</message>
<message name="listarProductoResponse">
<part name="parameters" element="tns:listarProductoResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<message name="listarId">
<part name="parameters" element="tns:listarId"/>
</message>
<message name="listarIdResponse">
<part name="parameters" element="tns:listarIdResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<portType name="Servicios">
<operation name="editarCliente">
<input wsam:Action="http://webService/Servicios/editarCliente" message="tns:editarCliente"/>
</operation>
<operation name="listarProducto">
<input wsam:Action="http://webService/Servicios/listarProductoRequest" message="tns:listarProducto"/>
<output wsam:Action="http://webService/Servicios/listarProductoResponse" message="tns:listarProductoResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://webService/Servicios/agregar" message="tns:agregar"/>
</operation>
<operation name="validar">
<input wsam:Action="http://webService/Servicios/validarRequest" message="tns:validar"/>
<output wsam:Action="http://webService/Servicios/validarResponse" message="tns:validarResponse"/>
</operation>
<operation name="listarId">
<input wsam:Action="http://webService/Servicios/listarIdRequest" message="tns:listarId"/>
<output wsam:Action="http://webService/Servicios/listarIdResponse" message="tns:listarIdResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://webService/Servicios/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://webService/Servicios/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://webService/Servicios/eliminarCliente" message="tns:eliminarCliente"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:17811/CCO_WEB_SERVICES/Servicios"/>
</port>
</service>
</definitions>